<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/catalogo.css">
    <link rel="icon" type="image/x-icon" href="../assets/img/logo.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Catalogo de Autos</title>
</head>

<body>
    <header>
        <h1>Alquiler de vehículos</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="reservas.html">Reservas</a></li>
                <li><a href="#">Promociones</a></li>
                <li><a href="#">Guias de Viaje</a></li>
                <li><a href="sobre_nosotros.html">Sobre Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <div id="catalogo">
        <h1>Catálogo de Autos</h1>
        <div class="car-list">
            <div id="car-lis-left">
                <div class="car">
                    <img src="../assets/img/Hyundai i30.jpg" alt="Auto 1">
                    <h2>Hyundai i30</h2>
                    <p>Elegante y eficiente, el Hyundai i30 es un compacto confiable para cualquier aventura.</p>
                    <ul>
                        <li>Diseño moderno y aerodinámico.</li>
                        <li>Eficiencia en el consumo de combustible.</li>
                        <li>Tecnología avanzada y seguridad destacada.</li>
                    </ul>
                    <a href="../views/reservas.html">Reservar</a>
                </div>
                <div class="car">
                    <img src="../assets/img/Ford F-150.jpg" alt="Auto 2">
                    <h2>Ford F-150</h2>
                    <p>Potencia y versatilidad se combinan en la icónica Ford F-150, una camioneta lista para cualquier
                        desafío.</p>
                    <ul>
                        <li>Capacidad de remolque y carga excepcional.</li>
                        <li>Tecnología avanzada y comodidad interior.</li>
                        <li>Robustez y resistencia para enfrentar terrenos difíciles.</li>
                    </ul>
                    <a href="../views/reservas.html">Reservar</a>
                </div>
                <div class="car">
                    <img src="../assets/img/Nissan Rogue.jpg" alt="Auto 3">
                    <h2>Nissan Rogue</h2>
                    <p>El Nissan Rogue es un SUV compacto versátil y moderno que combina estilo, comodidad y seguridad
                        en un solo paquete.</p>
                    <ul>
                        <li>Diseño aerodinámico y elegante.</li>
                        <li>Amplio espacio interior y versatilidad de carga.</li>
                        <li>Tecnología avanzada de seguridad y entretenimiento.</li>
                    </ul>
                    <a href="../views/reservas.html">Reservar</a>
                </div>
            </div>
            <div id="car-lis-right">
                <div class="car">
                    <img src="../assets/img/Hyundai Santa Fe.jpg" alt="Auto 4">
                    <h2>Hyundai Santa Fe</h2>
                    <p>La Hyundai Santa Fe es una SUV espaciosa y sofisticada que combina comodidad, rendimiento y
                        tecnología en un solo vehículo.</p>
                    <ul>
                        <li>Diseño elegante y aerodinámico.</li>
                        <li>Amplio espacio interior con capacidad para hasta 7 pasajeros.</li>
                        <li>Tecnología avanzada de seguridad y conveniencia.</li>
                    </ul>
                    <a href="../views/reservas.html">Reservar</a>
                </div>
                <div class="car">
                    <img src="../assets/img/Nissan Versa Note.png" alt="Auto 5">
                    <h2>Nissan Versa Note</h2>
                    <p>El Nissan Versa Note es un automóvil compacto y versátil que ofrece un equilibrio entre
                        eficiencia, espacio y estilo.</p>
                    <ul>
                        <li>Diseño aerodinámico y moderno.</li>
                        <li>Espacio interior amplio y versátil.</li>
                        <li>Excelente eficiencia de combustible.</li>
                    </ul>
                    <a href="../views/reservas.html">Reservar</a>
                </div>
                <div class="car">
                    <img src="../assets/img/Toyota RAV4.jpg" alt="Auto 6">
                    <h2>Toyota RAV4</h2>
                    <p>La Toyota RAV4 es una SUV compacta que combina elegancia, versatilidad y rendimiento para brindar
                        una experiencia de conducción emocionante y práctica.</p>
                    <ul>
                        <li>Diseño sofisticado y aerodinámico.</li>
                        <li>Amplio espacio interior y capacidad de carga.</li>
                        <li>Amplio espacio interior y capacidad de carga.</li>
                    </ul>
                    <a href="../views/reservas.html">Reservar</a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Enlaces útiles</h3>
                    <ul>
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="views/servicios.html">Servicios</a></li>
                        <li><a href="views/reservas.html">Reservas</a></li>
                        <li><a href="#">Promociones</a></li>
                        <li><a href="#">Guias de viaje</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Contacto</h3>
                    <ul>
                        <li><i class="fa fa-phone"></i> +51 986-518-888</li>
                        <li><i class="fa fa-envelope"></i> reservas@caminoperurentacar.com</li>
                        <li><i class="fa fa-map-marker"></i> Calle Manuel Razuri 472, Urb. Vista Alegre</li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Síguenos</h3>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom">
            <p>Todos los derechos reservados &copy; 2023 CaminoPeru Rent a Car</p>
        </div>
    </footer>
</body>

</html>