<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/servicios.css">
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/css/owl.theme.default.min.css">
    <link rel="icon" type="image/x-icon" href="../assets/img/logo.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Servicios</title>
</head>

<body>
    <header>
        <h1>Alquiler de vehículos</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="reservas.html">Reservas</a></li>
                <li><a href="#">Promociones</a></li>
                <li><a href="#">Guias de Viaje</a></li>
                <li><a href="sobre_nosotros.html">Sobre Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <div id="servicio">
        <h1>SERVICIOS</h1>
        <h2>Respaldo y Tranquilidad</h2>
        <a href="#" class="boton">CONTACTO</a>
    </div>
    <div class="contenedor-servicios">
        <h1>PROPORCIONAMOS SERVICIOS DE ALTA CALIDAD</h1>
        <div class="columnas">
            <div class="columna">
                <p>TRANSPORTE DE PERSONAL</p>
                <p>TRANSPORTE PARA EVENTOS</p>
                <p>TRANSPORTE PARA CEREMONIAS</p>
                <p>ALQUILER DE VEHICULOS</p>
            </div>
            <div class="columna">
                <p>TRANSPORTE PARA GRUPOS</p>
                <p>SERVICIOS DE TAXI EJECUTIVO</p>
                <p>ALQUILER DE VEHICULOS PARA EMPRESAS</p>
                <p>ALQUILER DE VEHICULOS PARA EMPRESAS A LARGO PLAZO</p>
            </div>
        </div>
    </div>
    <div class="contenedor-carrusel">
        <div class="owl-carousel">
            <div class="imagen">
                <img src="../assets/img/transportep.jpg" alt="Imagen 1">
                <h3>TRANSPORTE DE PERSONAL</h3>
            </div>
            <div class="imagen">
                <img src="../assets/img/transporteeventos.jpg" alt="Imagen 2">
                <h3>TRANSPORTE PARA EVENTOS</h3>
            </div>
            <div class="imagen">
                <img src="../assets/img/transporteceremonia.png" alt="Imagen 3">
                <h3>TRANSPORTE PARA CEREMONIAS</h3>
            </div>
            <div class="imagen">
                <img src="../assets/img/alquilervehiculos.png" alt="Imagen 4">
                <h3>ALQUILER DE VEHICULOS</h3>
            </div>
            <div class="imagen">
                <img src="../assets/img/transportegrupo.jpg" alt="Imagen 5">
                <h3>TRANSPORTE PARA GRUPOS</h3>
            </div>
            <div class="imagen">
                <img src="../assets/img/serviciotaxi.jpg" alt="Imagen 6">
                <h3>SERVICIOS DE TAXI EJECUTIVO</h3>
            </div>
        </div>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/service.js"></script>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Enlaces útiles</h3>
                    <ul>
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="servicios.html">Servicios</a></li>
                        <li><a href="reservas.html">Reservas</a></li>
                        <li><a href="#">Promociones</a></li>
                        <li><a href="#">Guias de viaje</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Contacto</h3>
                    <ul>
                        <li><i class="fa fa-phone"></i> +51 986-518-888</li>
                        <li><i class="fa fa-envelope"></i> reservas@caminoperurentacar.com</li>
                        <li><i class="fa fa-map-marker"></i> Calle Manuel Razuri 472, Urb. Vista Alegre</li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Síguenos</h3>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom">
            <p>Todos los derechos reservados &copy; 2023 CaminoPeru Rent a Car</p>
        </div>
    </footer>
</body>


</html>