<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/nosotros.css">
    <link rel="icon" type="image/x-icon" href="../assets/img/logo.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Nosotros</title>
</head>

<body>
    <header>
        <h1>Alquiler de vehículos</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="reservas.html">Reservas</a></li>
                <li><a href="#">Promociones</a></li>
                <li><a href="#">Guias de Viaje</a></li>
                <li><a href="sobre_nosotros.html">Sobre Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <div id="nosotros-1">
        <div id="sub-nosotros-1">
            <h1>Nosotros</h1>
            <p>Somos una empresa peruana con más de 12 años de experiencia en el servicio de alquiler de autos,
                camionetas 4×4 y minivans en Trujillo, Chiclayo y todo el Perú, ofrecemos una amplia gama de unidades
                con las tarifas más competitivas del mercado.</p>
            <p>Toda nuestra flota cuenta con las coberturas del seguro, así como sistemas de rastreador GPS incluido en
                el precio de alquiler, garantizando un servicio completo y de calidad que cubra con todas las
                expectativas y necesidades de nuestros clientes.</p>
        </div>
        <img src="../assets/img/nosotros1.png" alt="ImagenN 1">
    </div>
    <div id="nosotros-2">
        <img src="../assets/img/nosotros2.png" alt="ImagenN 2">
        <div id="sub-nosotros-2">
            <h1>Misión</h1>
            <p>Brindar un servicio de alquiler de vehículos de calidad, satisfaciendo las necesidades de nuestros
                clientes, otorgándoles vehículos en óptimas condiciones y acompañándolos durante todo el proceso de
                alquiler, en forma eficiente, cordial y segura.</p>
            <h1>Visión</h1>
            <p>Camino Peru Rent A Car tiene como objetivo aumentar la flota de vehículos, ampliar nuestras redes de
                contacto, estableciéndonos en distintas provincias. Por otro lado, buscamos aumentar la cartera de
                clientes y ser un exponente en el mercado peruano de alquiler de vehículos. Todo esto innovando y
                perfeccionando el servicio ofrecido, buscando obtener la máxima satisfacción por parte de nuestros
                clientes.</p>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Enlaces útiles</h3>
                    <ul>
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="servicios.html">Servicios</a></li>
                        <li><a href="reservas.html">Reservas</a></li>
                        <li><a href="#">Promociones</a></li>
                        <li><a href="#">Guias de viaje</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Contacto</h3>
                    <ul>
                        <li><i class="fa fa-phone"></i> +51 986-518-888</li>
                        <li><i class="fa fa-envelope"></i> reservas@caminoperurentacar.com</li>
                        <li><i class="fa fa-map-marker"></i> Calle Manuel Razuri 472, Urb. Vista Alegre</li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Síguenos</h3>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom">
            <p>Todos los derechos reservados &copy; 2023 CaminoPeru Rent a Car</p>
        </div>
    </footer>
</body>

</html>